@tailwind base;
@tailwind components;
@tailwind utilities;

.nav{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}
.container-section{
    padding: 3rem 0;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px){
    .container-section .nav{
        max-width: 760px;
    }

    .nav{
        max-width: 760px;
    }

    br{
        visibility: hidden;
    }
}

@media (min-width: 992px){
    .container-section {
        max-width: 960px;
    }

    .nav{
        max-width: 960px;
    }
}